# Copyright (c) 2020 dELLIKEEb
# SPDX-License-Identifier: MIT

config SHIELD_WAAFFLE
	def_bool $(shields_list_contains, waaffle)

config SHIELD_WAAFFLE_REV3
	def_bool $(shields_list_contains, waaffle_rev3)